 .git/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

notebook/

# Virtual environment
venv/


# Byte-compiled files
__pycache__/


# Environment variables file (if you're using dotenv)
.env

# Pipenv environment variables file
.venv



# Ignore compiled Python files
*.pyc

# Ignore editor-specific files
.vscode/
.idea/

# Ignore dependency management files
pipenv.lock